.git
.github
.gitignore
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
.venv
venv
tests/
terraform/
k8s/
monitoring/
docs/
scripts/
evidencias/
*.md
!README.md
docker-compose.yml
.env
*.tfstate*
.terraform/
